.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  align-self: flex-start;
  opacity: 1;
}
.khan__buy-link:hover {
  opacity: 0.6;
}
